<form [formGroup]="formularioDatosPersonales">
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card mt-2">
          <div class="card-body">
            <h5 class="card-title text-start">Solicitar presupuesto</h5>
            <div class="container">
              <div class="row">
                <div class="col d-flex justify-content-end">
                  <button class="btn d-none">Fecha</button>
                  <button class="btn btn-success btn-block">Precio</button> 
                  <button class="btn btn-success btn-block">Abc</button>
                </div>
              </div>
            </div>    
            <div class="row align-items-center mt-3">
              <div class="col-md-3">
                <label for="nombrePresupuesto" class="form-label"></label>
                <input type="text" class="form-control mb-2" id="nombrePresupuesto" placeholder="Nombre" value="Ester" />
                <div id="error-nombre"></div>
              </div>
              <div class="col-md-3">
                <label for="tlfPresupuesto" class="form-label"></label>
                <input type="number" class="form-control mb-2" id="tlfPresupuesto" placeholder="Teléfono" value="609856324" />
                <div id="error-tlf"></div>
              </div>
              <div class="col-md-3">
                <label for="emailPresupuesto" class="form-label"></label>
                <input type="email" class="form-control mb-2" id="emailPresupuesto" placeholder="E-mail" value="sjdv@sjdf.com"/>
                <div id="error-email"></div>
              </div>
              <div class="col-md-3">
                <button type="submit" class="btn btn-success btn-block" (click)="submitFormDatosPresupuesto()">Solicitar presupuesto</button> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">    
    <div class="row">
      <div class="col d-flex align-items-center justify-content-center">
        <h5>Presupuestos en curso:</h5>
      </div>
    </div>
  </div>    
  
    
  @for (presupuesto of listaPresupuestos; track presupuesto) {
    <div class="container mt-5 mb-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card mt-2">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <h5 class="card-title">{{presupuesto.nombre}}</h5>
                  <p class="card-text">{{presupuesto.email}}</p>
                  <p class="card-text">{{presupuesto.telefono}}</p>
                </div>
                <div class="col-md-4">
                  <p class="card-text">Servicios contratados:</p>
                  @for(servicio of selectedServices; track servicio){
                    <ul>
                      <li>{{servicio}}</li>
                    </ul>
                  }
                </div>
                <div class="col-md-4">
                  <p class="text-end">Total:</p>
                  <h3 class="card-text text-end fw-bold">{{presupuesto.total}}€</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>}  
</form>